{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbspecialites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dBSpecialite in dBSpecialites %}
            <tr>
                <td><a href="{{ path('dbspecialite_show', { 'id': dBSpecialite.id }) }}">{{ dBSpecialite.id }}</a></td>
                <td>{{ dBSpecialite.libelle }}</td>
                <td>{{ dBSpecialite.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dbspecialite_show', { 'id': dBSpecialite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dbspecialite_edit', { 'id': dBSpecialite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbspecialite_new') }}">Create a new dBSpecialite</a>
        </li>
    </ul>
{% endblock %}
