{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbspecialite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dBSpecialite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ dBSpecialite.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dBSpecialite.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbspecialite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dbspecialite_edit', { 'id': dBSpecialite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
