{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbetudiants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Specialite</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dBEtudiant in dBEtudiants %}
            <tr>
                <td><a href="{{ path('dbetudiant_show', { 'id': dBEtudiant.id }) }}">{{ dBEtudiant.id }}</a></td>
                <td>{{ dBEtudiant.nom }}</td>
                <td>{{ dBEtudiant.prenom }}</td>
                <td>{{ dBEtudiant.specialite }}</td>
                <td>{{ dBEtudiant.tel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dbetudiant_show', { 'id': dBEtudiant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dbetudiant_edit', { 'id': dBEtudiant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbetudiant_new') }}">Create a new dBEtudiant</a>
        </li>
    </ul>
{% endblock %}
