{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbetudiant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dBEtudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dBEtudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ dBEtudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ dBEtudiant.specialite }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ dBEtudiant.tel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbetudiant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dbetudiant_edit', { 'id': dBEtudiant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
