{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbformations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Dure</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dBFormation in dBFormations %}
            <tr>
                <td><a href="{{ path('dbformation_show', { 'id': dBFormation.id }) }}">{{ dBFormation.id }}</a></td>
                <td>{{ dBFormation.libelle }}</td>
                <td>{{ dBFormation.dure }}</td>
                <td>{{ dBFormation.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dbformation_show', { 'id': dBFormation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dbformation_edit', { 'id': dBFormation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbformation_new') }}">Create a new dBFormation</a>
        </li>
    </ul>
{% endblock %}
