{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dbformation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dBFormation.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ dBFormation.libelle }}</td>
            </tr>
            <tr>
                <th>Dure</th>
                <td>{{ dBFormation.dure }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ dBFormation.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dbformation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dbformation_edit', { 'id': dBFormation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
